@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
    --font-script: "Squada One", sans-serif;
    --font-space-mono: "Space Mono", monospace;

    --animate-loop-scroll: loop-scroll 25s linear infinite;


    @keyframes loop-scroll {

        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }

    }

}